// Header State

.hds-input
  color: inherit
  border-color: inherit
  -webkit-transition: .3s
  -moz-transition: .3s
  transition: .3s


.hds-input:hover,
.hds-input:focus,
.hds-input:hover::-webkit-input-placeholder,
.hds-input:focus::-webkit-input-placeholder
  outline: none
  color: $LightBlue
  border-color: $LightBlue


.hds-input:focus,
.hd-search:focus .hds-icon,
.hd-search:hover .hds-icon
  color: $Black

.hds-input::-webkit-input-placeholder
  color: $Gray



