<!DOCTYPE html>
<html>
  <head>
    <link href='http://fonts.googleapis.com/css?family=Muli:400,400italic|Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/assets/css/cluster.css">
    <link rel="stylesheet" href="/assets/css/ngprogress-lite.css">
    <link rel="stylesheet" href="/assets/css/toaster.css">
    <link rel="stylesheet" href="/assets/css/ng-tags-input.min.css">
    <title>ClusterApp</title>
  </head>
  <body ng-app="app"
    data-user-name="<%= userName %>"
    data-loggedin="<%= loggedIn %>"
    data-user-id="<%= userId %>"
  >
    <toaster-container></toaster-container>
    
    <% if(!loggedIn) { %>
      <div class="g-msg">
        <i class="g-msg-close fa fa-times fa-lg closeBtn"></i>
        <div class="gmsg-contents">
          <h2 class="gmc-title">Hi Guest,</h2>
          <p>You are not logged in, so go ahead and login with reddit, it takes two seconds, and you will be glad you did!</p>
          <ul class="gmc-benefits">
            <li class="gmcb-item">Create public/private clusters</li>
            <li class="gmcb-item">Subscribe to clusters</li>
            <li class="gmcb-item">Browse reddit in a modern way</li>
          </ul>
          <a class="gmc-login LoginBtn" href="">Login</a>
        </div>
      </div>
     <% } %>

    <section class="sidebar">
      <a class="sb-logo" href="/">
        <div class="sbl-img"></div>
        <div class="sbl-text">Cluster</div>
      </a>

      <% if(loggedIn) { %>
        <a class="sb-logout" href="/logout">
          <i class="fa fa-power-off fa-2x"></i>
          <div class="">Logout</div>
        </a>
      <% } else { %>
        <a class="sb-logout LoginBtn" href="">
          <i class="fa fa-sign-in fa-2x"></i>
          <div class="" href="">Login</div>
        </a>
      <% } %>
    </section>


    <section class="mw">
      <header class="hd">
        <div class="hd-search">
          <input type="text" name="search" autocomplete="off" spellcheck="false" placeholder="Search for a cluster, subreddit or a user..." class="hds-input">
          <i class="hds-icon fa fa-search fa-lg"></i>
        </div>
      </header>
      <div class="" ng-view></div>
    </section>
    <% if(loggedIn) { %>
      <script src="/assets/js/cluster.js"></script>
    <% } else { %>
      <script src="/assets/js/guest.js"></script>
    <% } %>
  </body>
</html>
