// Header Theme

.hd
  background-color: $Green

.hds-input
  border-bottom: 2px dotted #121212
  color: $White
  font-family: $sFont
  font-size: 21px
  background-color: rgba(48, 48, 49, 0.4)


.hdb-plus
  color: $White
