// Guest Layout

.g-msg
  width: 100%
  box-sizing: border-box
  padding: 10px 20px
  text-align: center
  z-index: 99


.g-msg-close
  position: absolute
  right: 15px

.g-msg-close:hover
  cursor: pointer
  color: $Black

.g-msg.hide
  opacity: 0
