<section class="cls-contents" infinite-scroll="infiniteScroll()">
  <div class="panel cls-settings" ng-class="{show: isEditing==true}">
    <div class="cls-set-select">
      <div class="set-title">
        <strong>{{ cluster.name }}</strong>
        ({{ cluster.subreddits.join(', ') }})
      </div>
      <div class="set-button"></div>
      <div class="css-button" ng-if="canEdit" ng-click="toggleEdit()">
        <i class="cssb-close fa fa-times fa-lg"></i>
        <i class="cssb-cog fa fa-cog fa-lg"></i>
      </div>
    </div>

    <div class="cls-edit-panel">
      <form ng-submit="editAdmin()">
        <label>Edit Admin</label>
        <tags-input ng-model="tagAdmins">
          <auto-complete source="allUserNamesAutocomplete()"></auto-complete>
        </tags-input>
        <input type="submit" value="Save">
      </form>
      <form ng-submit="editSubreddits()">
        <label>Edit the subreddits in this cluster</label>
        <tags-input ng-model="tagSubreddits"></tags-input>
        <input type="submit" value="Save">
      </form>
    </div>
  </div>

  <div class="panel cls-post" ng-repeat="post in listings.sorted">
    <div class="clsp-by">
      Submitted <span am-time-ago="post.created_utc"></span>
      by <a href="">{{post.author}}</a>
      to <a href="http://reddit.com/r/{{post.subreddit}}">{{post.subreddit}}</a>
      <span ng-if="post.stickied">stickied</span>

      <span class="clsp-domain">{{post.domain}}</span>
    </div>

    <a href="http://reddit.com{{post.permalink}}" class="clsp-title">{{post.title}}</a>

    <div class="clsp-text" ng-if="post.selftext_html">
      <i class="clsp-text-fa fa fa-plus-square-o fa-lg" ng-init="postView=false" ng-click="postView=!postView" ng-class="{show: postView==false}"></i>
      <i class="clsp-text-fa fa fa-minus-square-o fa-lg" ng-click="postView=!postView" ng-class="{show: postView==true}"></i>
      <div class="clsp-text-inner" ng-class="{expand: postView==true}" ng-bind-html='post.selftext_html | redditHtmlCompile'></div>
    </div>

    <div class="clsp-options">
      <span>
        <i class="fa fa-star-o fa-lg first"></i><span class="clsp-options-text">{{ post.score }}</span>
        <i class="fa fa-comment-o fa-lg"></i><span class="clsp-options-text">{{ post.num_comments }}</span>
        <a href="http://reddit.com{{post.permalink}}" class="clsp-options-text"><i class="fa fa-share-square-o fa-lg"></i></a>
      </span>
    </div>
  </div>
</section>
