// COLORS FILE
// This is for all the colors to be used within the site
// The color names are relative to this site



$Black: #2e3037
$White: #fff
$Cream: #e9eaed
$WhiteSmoke: #F5F6F8
$Gray: #999999



$transparent: rgba(81,81,81,0.3)

$Blue: #69c7cf
$LightBlue: #23b2e0

$Red: #ea8484
$Purple: #b886eb
$Green: #00a287
