// Mixins



=background-size($style)
  -webkit-background-size: $style
  -moz-background-size: $style
  -o-background-size: $style
  background-size: $style


=transition($attr, $time, $style)
  -webkit-transition: $attr $time $style
  -moz-transition: $attr $time $style
  -o-transition: $attr $time $style
  transition: $attr $time $style

=border-radius($size)
  -webkit-border-radius: $size
  -moz-border-radius: $size
  -o-border-radius: $size
  border-radius: $size

