// Cluster Module

.cls-contents
  width: 100%
  height: auto
  min-height: 100px
  box-sizing: border-box
  padding: 10px 10px 0 10px

.panel
  width: inherit
  height: auto
  background-color: $White
  margin: 0 0 10px 0
  border: 1px solid rgba(48, 48, 49, 0.3)

.cls-settings
  font-family: $pFont
  height: 50px
  +transition(height, 0.5s, ease-in-out)

.cls-settings.show
  height: 200px

.cls-set-select
  height: 50px
  width: inherit
  position: relative

.set-title
  color: rgba(48, 48, 49, 0.6)
  line-height: 30px
  position: absolute
  left: 0
  top: 0
  height: inherit
  width: inherit
  box-sizing: border-box
  padding: 10px 60px 10px 15px
  font-size: 16px

.set-title strong
  color: #121210
  font-size: 18px

// Edit button, @olliejennings is totally going to want to edit this

.set-edit-button
  float: right
  display: block
  padding: 10px
  border: 1px solid red
  z-index: 999
  position: relative




// Individual Posts ===============
.cls-post
  height: auto
  min-height: 80px

.clsp-by
  width: inherit
  height: 35px
  box-sizing: border-box
  padding: 10px 15px

.clsp-domain
  float: right

.clsp-title
  box-sizing: border-box
  width: inherit
  padding: 0 60px 0 15px
  height: auto

.clsp-options
  box-sizing: border-box
  width: inherit
  min-height: 32px
  padding: 9px 15px 7px 15px
  margin-top: 15px
