// Header Module

.hd
  width: 100%
  z-index: 999
  height: 60px
  top: 0

.sticky
  position: absolute !important
  -webkit-transform: translateZ(0)
  right: 0
  left: 70px
  width: auto
  +transition(left, 0.5s, ease-in-out)



.hd-search
  height: inherit
  width: 100%
  padding: 8px 135px 0 10px
  box-sizing: border-box

.hds-input
  width: inherit
  text-transform: uppercase
  border: none
  padding: 8px 8px 5px 8px


.hd-button
  top: 0
  right: 0
  position: absolute
  height: inherit
  width: 60px
  box-sizing: border-box


.hdb-plus
  height: inherit
  width: inherit
  text-align: center
  line-height: 60px

.hd-login
  position: absolute
  right: 17px
  top: 12px
  box-sizing: border-box
  padding: 5px
  text-transform: uppercase
